@using CS_499_Project.Object_Classes;
@{ 
    Layout = "~/Views/Shared/_NavBarLayout.cshtml";
}

<div id="main-content">
    <h1>@ViewBag.full_name</h1>
    <center>
        <div id="action-row">
            <a href="@Url.Action("Bill","User")">
                <div class="action-box">
                    <img class="action-icon" src="~/images/bill-64.png" height="64" width="64">
                    <div class="action-text">Pay Bill</div>
                </div>
            </a>
            <a href="@Url.Action("Transfer","User")">
                <div class="action-box">
                    <img class="action-icon" src="~/images/transfer.png" height="64" width="64">
                    <div class="action-text">Transfer</div>
                </div>
            </a>
            @if (ViewBag.allowed)
            {
                <a href="@Url.Action("Check", "Teller")">
                    <div class="action-box">
                        <img class="action-icon" src="~/images/check-icon.png" height="64" width="64">
                        <div class="action-text">Check</div>
                    </div>
                </a>
                <a href="@Url.Action("Cash","Teller")">
                    <div class="action-box">
                        <img class="action-icon" src="~/images/banknotes-64.gif" height="64" width="64">
                        <div class="action-text">Cash</div>
                    </div>
                </a>
            }
            <a href="@Url.Action("Help","User")">
                <div class="action-box">
                    <img class="action-icon" src="~/images/info-2-64.png" height="64" width="64">
                    <div class="action-text">Help</div>
                </div>
            </a>
        </div>
    </center>
    <h2>Accounts</h2>
    <div id="accounts-wrapper">
        @foreach (AccountInterface account in ViewBag.accounts)
        {
            <h3>@account.DisplayName</h3>
            @if (account.getTransactions().Count > 0)
            {
                <table class="account-table">
                    <tr>
                        <th class="table-main-header">RECENT TRANSACTIONS</th>
                        <th class="table-sub-header">Amount</th>
                        <th class="table-sub-header">Date</th>
                    </tr>
                    @foreach (Transaction transaction in account.getTransactions())
                    {
                        <tr class="main-row">
                            <td>@transaction.getDescription()</td>
                            <td>@("$" + transaction.getAmount())</td>
                            <td>@transaction.getTransactionTime().ToString("d/M/yyyy")</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No transactions for this account yet!</p>
            }
         }
    </div>
</div>