@using CS_499_Project.Object_Classes;
@{ 
    Layout = "~/Views/Shared/_NavBarLayout.cshtml";
}

<script src="~/js/aspire_dashboards.js"></script>
<div id="main-content">
    <div id="title-div"><h1>
    @ViewBag.full_name@if ( (bool) ViewBag.isAdmin)
    {<div class="trash-icon" id="user-trash" data-url="@Url.Action("DeleteUser","Admin", new { username = (string) ViewBag.current_customer })"><img id="trash-img" src="~/images/trash.png" alt="delete user icon" height="40" width="40" /></div>}
</h1></div>
    <br />
    <center>
        <div id="action-row">
            <a href="@Url.Action("Bill","User")">
                <div class="action-box">
                    <img class="action-icon" src="~/images/bill-64.png" alt="pay bill icon" height="64" width="64">
                    <div class="action-text">Pay Bill</div>
                </div>
            </a>
            <a href="@Url.Action("Transfer","User")">
                <div class="action-box">
                    <img class="action-icon" src="~/images/transfer.png" alt="transfer icon" height="64" width="64">
                    <div class="action-text">Transfer</div>
                </div>
            </a>
            @if ( (bool) ViewBag.allowed)
            {
                <a href="@Url.Action("Check", "Teller")">
                    <div class="action-box">
                        <img class="action-icon" src="~/images/check-icon.png" alt="check icon" height="64" width="64">
                        <div class="action-text">Check</div>
                    </div>
                </a>
                <a href="@Url.Action("Cash","Teller")">
                    <div class="action-box">
                        <img class="action-icon" src="~/images/banknotes-64.gif" alt="cash icon" height="64" width="64">
                        <div class="action-text">Cash</div>
                    </div>
                </a>
            }
            <a href="@Url.Action("Help","User")">
                <div class="action-box">
                    <img class="action-icon" src="~/images/info-2-64.png" alt="help icon" height="64" width="64">
                    <div class="action-text">Help</div>
                </div>
            </a>
        </div>
    </center>
    <h2>Accounts @if ( (bool) ViewBag.isAdmin) {<a href="@Url.Action("CreateAccountForm", "Admin")"><div class="add-icon"><img id="add-img" src="~/images/plus-48.png" width="30" height="30" alt="add account" /></div></a>}</h2>
    <div id="accounts-wrapper">
        @foreach (AccountInterface account in ViewBag.accounts)
        {
        <h3>
            @account.DisplayName@if ( (bool) ViewBag.isAdmin)
                    {<div class="trash-icon-small" data-url="@Url.Action("DeleteAccount","Admin", new { username = (string) ViewBag.current_customer, account_id = (int) account.accountNumber() })"><img class="trash-img-small" src="~/images/trash.png" alt="delete account icon for @account.DisplayName" height="30" width="30" /></div>}
        </h3>
            <p>Balance: $@account.accountBalance().ToString("0.00")</p>
            @if (account.getTransactions().Count > 0)
            {
                <table class="account-table">
                    <tr>
                        <th class="table-main-header">RECENT TRANSACTIONS</th>
                        <th class="table-sub-header">Amount</th>
                        <th class="table-sub-header">Type</th>
                        <th class="table-sub-header">Date</th>
                    </tr>
                    @ViewBag.count = 0;
                    @foreach (TransactionInterface transaction in account.getTransactions())
                    {
                        <tr class="main-row">
                            <td>@transaction.note</td>
                            <td>@("$" + transaction.amount.ToString("0.00"))</td>
                            <td>@if (transaction.acct_from == account.accountNumber())
                            {<span>Withdraw</span>}
                            else
                            {<span>Deposit</span>}</td>
                            <td>@transaction.transaction_time.ToString("d/M/yyyy")</td>
                        </tr>
                    }
                </table>
            }
            else
            {
                <p>No transactions for this account yet!</p>
            }
         }
    </div>
</div>