@{
    ViewBag.title = "Success";
    ViewBag.FormTitle = "Your Account was successfully created";
    Layout = "/Views/Shared/_HeaderLayout.cshtml";
    Layout = "/Views/Shared/_FormLayout.cshtml";
}


@if(ViewBag.errorMessage != null)
{
    <p class="warn-message">@ViewBag.errorMessage</p>
}


    User: @ViewBag.acct_user
    <br />
    Account Type: @ViewBag.acct_type
    <br />
    Balance: @ViewBag.acct_dep
    <br />
    Account Name: @ViewBag.acct_name
    <br />

    <a class="link" href="./@ViewBag.user_role">Back to Dashboard</a>