

<html>
<head>
    <title>Account Created</title>
</head>
<body>
    <h1>Your Account was sucessfully added to the account</h1>

    Account Number: @ViewBag.acct_num <br />
    User: @ViewBag.acct_user <br />
    Account Type: @ViewBag.acct_type <br />
    Initial Deposit: @ViewBag.acct_dep <br />
    Account Name: @ViewBag.acct_name <br />

</body>
</html>
