@{
    Layout = "_NavBarLayout";
}

@using CS_499_Project.Object_Classes;

<script src="~/js/materialize/forms.js" type="text/javascript"></script>
<script>
    function selectUser(username, checkbox) {
        $(".table-button").toggle();
        if ($(".table-button").first().css("display") == "none") {
            $(".table-checkbox").prop("disabled", false);
            $('[data-username="' + username + '"]').each(function () {
                $(this).removeClass("selected-row");
                $(this).children().removeClass("selected-row-cell");
            });
        }
        else {
            $(".table-checkbox").prop("disabled", true);
            $("[data-username='" + username + "']").each(function () {
                $(this).addClass("selected-row");
                $(this).children().addClass("selected-row-cell");
            });
        }
        $(checkbox).prop("disabled", false);
        $(".button-link").each(function () {
            var index = this.href.lastIndexOf("/");
            var original = this.href;
            this.href = original.replace(original.substring(index + 1, original.length), "") + username;
        });
    }

    $(document).ready(function () {
        $("#search").focus();
        $("#search").click();
        setTimeout(function () {
            $("#search").focus();
            $("#search").click();
        }, 100);
        $(".table-button").hide();
    });

    function add_user() {
        location.href = "@Url.Action("CreateProfileForm", "Admin")";
    }
</script>

<div id="content-wrapper">
    <h1>Customer Search</h1>

    @if (ViewBag.user_role == "Admin")
    {
        <button onclick="add_user();" class="main-button">Add User</button>
    }

    <form method="post" id="search-form">
        @if (ViewBag.set_username == "true")
        {
            <span>Find a customer by username: <input name="username" id="search" type="text" value="@ViewBag.LS" oninput="this.form.submit()" autofocus="autofocus" /></span>
        }
        else
        {
            <span>Find a customer by username: <input name="username" id="search" type="text" oninput="this.form.submit()" autofocus="autofocus" /></span>
        }
    </form>
    <a class="button-link" href="@Url.Action("GoToUser", "Teller", new { username="fakeUsername" })"><input type="button" class="main-button table-button" value="Go To User" /></a>

    <br /><br />
    @if (ViewBag.info != null && ViewBag.info.Count > 0 && ViewBag.LS != String.Empty)
    {
          <form action="#">
              <table class="account-table">
                  <tr>
                      <td>Select</td>
                      <td>Username</td>
                      <td>Full Name</td>
                      <td>Email Address</td>
                      <td>Role</td>
                  </tr>
                  @foreach (ProfileInterface profile in ViewBag.info)
                  {
                      <tr data-username="@profile.username">
                          <td>
                              <label for="checkbox-@profile.username">
                                  <input type="checkbox" id="checkbox-@profile.username" class="filled-in checkbox-green table-checkbox" onclick="selectUser('@profile.username', this)" />
                                  <span> </span>
                              </label>
                          </td>
                          <td>@profile.username</td>
                          <td>@profile.full_name</td>
                          <td>@profile.email_address</td>
                          <td>@profile.getType()</td>
                      </tr>
                  }
              </table>
          </form>
    }
    else
    {
        <div id="no-results">No results!</div>
    }
</div>
