@using CS_499_Project.Object_Classes
@using Microsoft.CodeAnalysis.CSharp.Syntax
<script>
    function transfer(acct) {
        location.href = "./Transaction/" + acct.trim() + "/" + document.getElementById('amtbox').value;
    }
</script>
<html>

<input type="text" name="amount" id="amtbox" />
<input type="button" name="submit" value="confirm" onclick="transfer('@ViewBag.num')" /> 
<br> <br> <br><br>

<body>
    @if (ViewBag.transactions.Count > 0)
    {
        <b>Transaction List </b> <br>
        <table>
            <tr>
                <th>Acct To </th>
                <th>Acct From</th>
                <th>Amount</th>
                <th>Note</th>
            </tr>
            @foreach (TransactionInterface record in ViewBag.transactions)
            {
            <tr>
                <td> @record.acct_to </td>
                <td> @record.acct_from </td>
                <td> @record.amount </td>
                <td> @record.note </td>
            </tr>
            }
        </table>
    }
    else
    {
        <b>No Transactions to Display!</b>
    }
</body>
</html>