<!DOCTYPE html>
<script>
    function redirect(username) {
        location.href = "@ViewBag.path" + "/ListAccounts?username=" + username.trim();
    }
    function transfer(username) {
        location.href = "@ViewBag.path" + "/Transfer?username=" + username.trim();
    }
</script>
<html>
	<head>
		Welcome to the Teller Index page, @ViewBag.User
	</head>
<body>


<br/><br/>
<form method="post">
	Find a customer by username: <input name="username" type="text" value="@ViewBag.LS"/>
	<input type="submit"/>	
</form>

<table>
    @if (ViewBag.info != null)
     {
	  foreach(KeyValuePair<string, string> dict_item in ViewBag.info)
      {
          <thead>@dict_item.Key </thead>
      }
        <tr>
            @foreach (KeyValuePair<string, string> dict_item in ViewBag.info)
            {
                <td> @dict_item.Value   </td>
            }
            <td> <input type="button" value="SELECT" onclick="redirect('@ViewBag.info["username"]')"/></td>
            <td> <input type="button" value="Transfer" onclick="transfer('@ViewBag.info["username"]')" /> </td>
        </tr>
    }
 </table>
</body>
</html>
